__pycache__
*.fai
test*
Position_files/new_position_files/WGS_Yfull_hg38.bed
Position_files/new_position_files/WGS_Yfull_hg19.bed
Yleaf.egg-info/
build/
yleaf/data/hg38/full_reference.fa.gz
yleaf/data/hg19/full_reference.fa.gz
yleaf/data/hg38/full_reference.fa
yleaf/data/hg19/full_reference.fa
yleaf/data/hg38/chrY.fa
yleaf/data/hg19/chrY.fa
male_pedigree_toolbox.egg-info/
/venv/
